.card{
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-of-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}