@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.card{
    height: 400px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 0px #00000050;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;

    .sprite{
        height: 150px;
        width: auto;
    }

    .pokemon-name{
        font-weight: 700;
    }
    
    .pokemon-ability, .pokemon-type{
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }
}

.grid-of-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 0 20%;
}
