@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: cadetblue;
}


.backDrop{
    backdrop-filter: blur(5px);
}

.lighten{
    filter: brightness(0) invert(1);
}

.addFilter{
    filter: saturate(.9);
    
}

.fontSizeAdjust{
    font-size: 14px;
}

.hideScroll{
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.hideScroll::-webkit-scrollbar { 
    display: none;
}
